<header class="shadow-xl">
    <div class="flex items-center justify-self-center">
        <div routerLink="/" class="flex items-center mr-[100px]">
            <img class="mr-2.5" src="assets/photos/schweizer_flagge.png" alt="Schweizer Flagge" width="80px"/>
            <h1 class="text-5xl red-font">Switzerland</h1>
        </div>
        <nav>
            <ul class="flex text-xl red-font">
                <li class="mr-5 transform transition-transform duration-150 hover:scale-125">
                    <a routerLink="/gallery">Gallery</a>
                </li>
                <li class="mr-5 transform transition-transform duration-150 hover:scale-125">
                    <a routerLink="/history">History</a>
                </li>
                <li class="mr-5 transform transition-transform duration-150 hover:scale-125">
                    <a routerLink="/sightseeing">Sighsteeing</a>
                </li>
                <li class="mr-5 transform transition-transform duration-150 hover:scale-125">
                    <a routerLink="/contact">Contact Us</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
