<div class="px-4 sm:px-[50px] md:px-[100px] lg:px-[200px]">
    <p class="site-title text-center lg:text-left">History of Switzerland</p>

    <div>
        <div class="mb-4 p-4 border-b border-black">
            <h1 class="text-2xl sm:text-3xl mb-3">The Founding of Switzerland</h1>
            <div class="flex flex-col sm:flex-row items-center sm:items-start">
                <img class=" w-full sm:w-1/2 lg:w-1/3 mb-4 sm:mb-0" src="assets/photos/schweiz_umriss.png" alt="Founding of Switzerland" />
                <p class="sm:ml-3 text-center sm:text-left">Switzerland was founded in 1291 when the three original cantons, Uri, Schwyz, and Nidwalden, signed a defensive pact against external threats. This agreement marked the beginning of the Confederation and laid the groundwork for the later political unity of Switzerland.</p>
            </div>
        </div>

        <div class="mb-4 p-4 border-b border-black">
            <h1 class="text-2xl sm:text-3xl mb-3">The Reformation</h1>
            <div class="flex flex-col sm:flex-row items-center sm:items-start">
                <p class="sm:mr-3 text-center sm:text-left">In the 16th century, Switzerland experienced a religious upheaval during the Reformation, led by figures such as Huldrych Zwingli in Zurich and John Calvin in Geneva. This movement resulted in a profound transformation of the religious landscape and a division between Reformed and Catholic regions.</p>
                <img class=" w-full sm:w-1/2 lg:w-1/3 mt-4 sm:mt-0" src="assets/photos/kreuz.jpg" alt="Reformation in Switzerland" />
            </div>
        </div>

        <div class="mb-4 p-4 border-b border-black">
            <h1 class="text-2xl sm:text-3xl mb-3">World War II</h1>
            <div class="flex flex-col sm:flex-row items-center sm:items-start">
                <img class=" w-full sm:w-1/2 lg:w-1/3 mb-4 sm:mb-0" src="assets/photos/ww2.jpg" alt="World War II" />
                <p class="sm:ml-3 text-center sm:text-left">During World War II, Switzerland remained neutral and was an important location for diplomatic negotiations. Despite the threat posed by the Axis powers, Switzerland managed to maintain its independence and became a safe haven for many refugees.</p>
            </div>
        </div>

        <div class="mb-4 p-4 border-b border-black">
            <h1 class="text-2xl sm:text-3xl mb-3">Modern Switzerland</h1>
            <div class="flex flex-col sm:flex-row items-center sm:items-start">
                <p class="sm:mr-3 text-center sm:text-left">In the post-war period, Switzerland developed into a significant international financial center and a leader in innovation and technology. Today, Switzerland is known for its high quality of life, neutrality, and its role as a host for international organizations such as the UN and the Red Cross.</p>
                <img class=" w-full sm:w-1/2 lg:w-1/3 mt-4 sm:mt-0" src="assets/photos/modern.jpg" alt="Modern Switzerland" />
            </div>
        </div>
    </div>
</div>
