<div class="lg:px-[200px] md:px-[100px] sm:px-[50px]">
    <p class="site-title">Gallery</p>


    <div class="grid grid-cols-2 md:grid-cols-3 gap-4 border-b pb-4 border-black">
        <div>
            <img class="h-auto max-w-full rounded-lg geordnet_photo" src="assets/photos/gallery/geordnet/1.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg geordnet_photo" src="assets/photos/gallery/geordnet/2.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg geordnet_photo" src="assets/photos/gallery/geordnet/3.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg geordnet_photo" src="assets/photos/gallery/geordnet/4.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg geordnet_photo" src="assets/photos/gallery/geordnet/5.jpg" alt="">
        </div>
        <div>
            <img class="h-auto max-w-full rounded-lg geordnet_photo" src="assets/photos/gallery/geordnet/6.jpg" alt="">
        </div>
    </div>

    <p-carousel
        [value]="products"
        [numVisible]="3"
        [numScroll]="3"
        [circular]="true"
        autoplayInterval="3000">
        <ng-template let-product pTemplate="item">
            <div class="border-1 surface-border border-round m-2 p-3">
                <div class="mb-3">
                    <div class="relative mx-auto">
                        <img
                            src="assets/photos/gallery/{{product.image}}"
                            [alt]="product.name"
                            class="w-full border-round" />
                    </div>
                </div>
                <div class="mb-3 font-medium">
                    {{ product.name }}
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>

