<div class="lg:px-[200px] px-4">
    <p class="site-title">Sightseeing</p>
    <div>
        <div class="mb-4 p-4 border-b border-black">
            <h1 class="text-3xl mb-3">Kapellenbrücke, Luzern</h1>
            <div class="flex flex-col lg:flex-row">
                <img class="sightseeing_photo w-full lg:w-1/2 h-auto object-cover" src="assets/photos/gallery/sehenswuerdigkeiten/luzern_kapellbruecke.jpg" alt="Kappellenbrücke, Luzern" />
                <p class="ml-3 mt-3 lg:mt-0 lg:ml-5">The Chapel Bridge in Lucerne is a landmark and one of the oldest wooden bridges in Europe, built around 1365. It spans the Reuss River and is famous for its historical roof paintings depicting Swiss history and local saints. After a devastating fire in 1993, the bridge was restored and reopened. Today, it remains a popular destination and symbolizes Lucerne's rich history and culture.</p>
            </div>
        </div>
        <div class="mb-4 p-4 border-b border-black">
            <h1 class="text-3xl mb-3">Matterhorn, Wallis</h1>
            <div class="flex flex-col lg:flex-row">
                <p class="lg:w-1/2">The Matterhorn, one of the most famous mountains in the Alps, is located on the border between Switzerland and Italy. Standing at 4,478 meters, it is renowned for its distinctive pyramid shape. The mountain attracts numerous climbers and tourists each year. The Matterhorn is considered a symbol of Switzerland and represents the majestic beauty of the Alps.</p>
                <img class="sightseeing_photo ml-auto w-full lg:w-1/2 h-auto object-cover" src="assets/photos/gallery/sehenswuerdigkeiten/matterhorn-4285605_1920.jpg" alt="Matterhorn, Wallis" />
            </div>
        </div>
        <div class="mb-4 p-4 border-b border-black">
            <h1 class="text-3xl mb-3">Zürich Innenstadt</h1>
            <div class="flex flex-col lg:flex-row">
                <img class="sightseeing_photo w-full lg:w-1/2 h-auto object-cover" src="assets/photos/gallery/sehenswuerdigkeiten/zuerich.jpg" alt="Innenstadt Zürich" />
                <p class="ml-3 mt-3 lg:mt-0 lg:ml-5">Zurich is the largest city in Switzerland and a major economic and cultural center. Located on Lake Zurich, the city features a picturesque old town with historic buildings, numerous museums, and art galleries. Zurich is also known for its high quality of life and a wide range of recreational activities. The city blends traditional Swiss charm with modern urban living.</p>
            </div>
        </div>

        <div class="mb-4 p-4 border-b border-black">
            <h1 class="text-3xl mb-3">Einwohnerzahlen der Schweizer Kantone (Stand 2024)</h1>
            <div class="overflow-x-auto">
                <table class="min-w-full border-collapse border border-black">
                    <thead>
                    <tr>
                        <th class="border border-black p-2">Kanton</th>
                        <th class="border border-black p-2">Einwohner</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="border border-black p-2">Zürich</td>
                        <td class="border border-black p-2">1,541,700</td>
                    </tr>
                    <tr>
                        <td class="border border-black p-2">Bern</td>
                        <td class="border border-black p-2">1,028,580</td>
                    </tr>
                    <tr>
                        <td class="border border-black p-2">Waadt</td>
                        <td class="border border-black p-2">825,000</td>
                    </tr>
                    <tr>
                        <td class="border border-black p-2">Genf</td>
                        <td class="border border-black p-2">500,000</td>
                    </tr>
                    <tr>
                        <td class="border border-black p-2">Aargau</td>
                        <td class="border border-black p-2">688,000</td>
                    </tr>
                    <tr>
                        <td class="border border-black p-2">St. Gallen</td>
                        <td class="border border-black p-2">510,000</td>
                    </tr>
                    <tr>
                        <td class="border border-black p-2">Thurgau</td>
                        <td class="border border-black p-2">290,000</td>
                    </tr>
                    <tr>
                        <td class="border border-black p-2">Tessin</td>
                        <td class="border border-black p-2">350,000</td>
                    </tr>
                    <tr>
                        <td class="border border-black p-2">Wallis</td>
                        <td class="border border-black p-2">350,000</td>
                    </tr>
                    <tr>
                        <td class="border border-black p-2">Luzern</td>
                        <td class="border border-black p-2">430,000</td>
                    </tr>
                    <tr>
                        <td class="border border-black p-2">Neuenburg</td>
                        <td class="border border-black p-2">170,000</td>
                    </tr>
                    <tr>
                        <td class="border border-black p-2">Solothurn</td>
                        <td class="border border-black p-2">270,000</td>
                    </tr>
                    <tr>
                        <td class="border border-black p-2">Glarus</td>
                        <td class="border border-black p-2">40,000</td>
                    </tr>
                    <tr>
                        <td class="border border-black p-2">Appenzell Innerrhoden</td>
                        <td class="border border-black p-2">16,000</td>
                    </tr>
                    <tr>
                        <td class="border border-black p-2">Appenzell Ausserrhoden</td>
                        <td class="border border-black p-2">55,000</td>
                    </tr>
                    <tr>
                        <td class="border border-black p-2">Jura</td>
                        <td class="border border-black p-2">75,000</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
